<div class="container">
  <div class="col-md-8 col-sm-offset-2">
    <div class="well">
      <h1>New Will</h1>
      <%= simple_form_for @will do |f| %>
        <%= f.input :title %>
        <%= f.input :executor %>
        <%= f.input :estate_plan, as: :text %>
        <%= f.input :burial_wishes, as: :text %>
        <%= f.input :comments, as: :text %>

        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
  
