<div class="container">
  <%= @will.comments %>
  <%= @will.title %>
  <%= @will.date %>
  <%= @will.executor %>
  <%= @will.estate_plan %>
  <%= @will.comments %>
  <br />
  <%= link_to "Edit Will", edit_will_path %>

</div>
