<div class="container">
  <ul class="breadcrumb">
  <li><%= link_to "Dashboard", root_path%></li>
    <li class="active"><%= @will.title %></li>
  </ul>
  <br />
  <div class="jumbotron">
    <h1>My Will</h1>
      <dl class="dl-horizontal">
        <dt>Title</dt>
        <dd><%= @will.title %></dd>
        <dt>Executor</dt>
        <dd><%= @will.executor %></dd>
        <dt>Estate Plan</dt>
        <dd><%= @will.estate_plan %></dd>
        <dt>Burial Wishes</dt>
        <dd><%= @will.burial_wishes %></dd>
        <dt>Comments</dt>
        <dd><%= @will.comments %></dd>
      </dl>
      <br />
      <%= link_to "Edit Will", edit_will_path %>
        <p><a class="btn btn-primary btn-lg">Learn more</a></p>
  </div>
</div>
